.header {
    @include flex(flex-start, space-between, column, wrap);
    &__container {
        max-width: 870px + $offset * 2;
        padding: 0 $offset;
        margin: 0 auto;
        margin-bottom: 33px;
    }
    &__panel {
        @include flex(space-between, row, wrap);
        padding: 30px 0 0 0;
    }
    &__languages {
        display: inline;
    }
}