<section class="banner-section">
<div class="banner-section__column">
    <div class="banner-section__image">
        <!-- <img src="./assets/images/banner-image.png" alt=""> -->
    </div>
</div>
<div class="banner-section__column">
    <div class="banner-section__content">
    <h2 class="title banner-section__title">private catering</h2>
    <p class="description banner-section__description">Treat your guests to a beautifully plated dinner, hand-crafted canapes or a casual BBQ.</p>
    <div>
    <button class="button banner-section__button">GET A QUOTE</button>
    <a class="link banner-section__link" href="">view menus</a>
    </div>
</div>
</section>