<section class="catering-section catering-section__container">
            <div class="card">
                <img class="card__image" src="./assets/images/corporate-catering.png" alt="">
                <h3 class="card__title">corporate catering</h3>
                <p class="card__description">We are able to serve events from 2 to 2000 guests and always reasonable prices.</p>
                <button class="button catering-section__button">Get a quote</button>
                <a class="link" href="">View menus</a>
            </div>
            <div class="card">
                <img class="card__image" src="./assets/images/private-catering.png" alt="">
                <h3 class="card__title">Private catering</h3>
                <p class="card__description">Fresh, seasonal and simple cuisine. Food is our business and our passion.</p>
                <button class="button catering-section__button">Get a quote</button>
                <a class="link" href="">View menus</a>
            </div>
            <div class="card">
                <img class="card__image" src="./assets/images/wedding-catering.png" alt="">
                <h3 class="card__title">Wedding catering</h3>
                <p class="card__description">We use only the best organic ingredients and gluten and dairy free cooking.</p>
                <button class="button catering-section__button">Get a quote</button>
                <a class="link" href="">View menus</a>
            </div>
            <div class="card">
                <img class="card__image" src="./assets/images/online-ordering.png" alt="">
                <h3 class="card__title">Online Ordering</h3>
                <p class="card__description">Successful catering is about organisation, high quality service, and great food.</p>
                <button class="button catering-section__button">Get a quote</button>
                <a class="link" href="">View menus</a>
            </div>          
</section>