<header class="header header__container">
  <div class="header__panel">
    <div class="languages header__languages">en ru esp</div>
    <a class="recording header__recording" href="">ONLINE RECORDING</a>
  </div>
  <nav class="navigation">
    <ul class="navigation__list">
      <li class="navigation__item">about</li>
      <li class="navigation__item">menus</li>
      <li class="navigation__item">service info</li>
    </ul>
    <div class="logo__wrapper">
      <span class="logo__description">nyc`s</span>
      <a class="logo" href="/"> <img class="logo__image" src="./assets/images/logo.png" alt="PRIME ONE"></a>
      <span class="logo__description">catering</span>
    </div>
    <ul class="navigation__list">
      <li class="navigation__item">gallery</li>
      <li class="navigation__item">friends</li>
      <li class="navigation__item">contact</li>
    </ul>
  </nav>
</header>