*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
input,
button,
textarea,
select {
  font-size: 16px;
  //font-family: $BASE-FONT;
}

body {
  // border: 10px solid $BLACK;
}
 
ul {
  list-style: none;
}

a, button {
  background-color: transparent;
  border: none;
  outline: none;
  display: inline-flex;
  text-decoration: none;
}
